@import-normalize;

nav {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  z-index: 999;
  font-family: Archivo, sans-serif;
  justify-content: space-between;
  padding: 1.3vw 6.5vw;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__color {
  background: transparent;
}

.navbar__color.fixed {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(14, 14, 19, 1) 100%
  );
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.167);
  -webkit-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.167);
  -moz-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.167);
}

#navbar li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: white;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

.resume__mobile {
  display: none;
}

@media screen and (max-width: 971px) {
  nav {
    padding: 20px 50px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 85px;
    right: -600px;
    width: 250px;
    height: 100vh;
    background: black;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .navbar__color {
    position: fixed;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(14, 14, 19, 1) 100%
    );
  }

  .navbar__color.fixed {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(14, 14, 19, 1) 100%
    );
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile img {
    cursor: pointer;
  }

  button {
    display: none;
  }

  .resume__mobile {
    display: flex;
  }
}
