@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-purple-gradient {
  background: radial-gradient(
    100% 150% at 0% 0%,
    rgba(14, 6, 19, 1) 0%,
    rgba(33, 10, 54, 1) 44%,
    rgba(58, 8, 71, 1) 63%,
    rgba(37, 10, 53, 1) 81%,
    rgba(16, 12, 35, 1) 100%
  );
}

.button-gradient {
  background: linear-gradient(
    90deg,
    rgba(86, 86, 99, 0.155),
    rgba(63, 63, 82, 0.31)
  );
  transition: background 0.3s ease-in-out;
}

.button-gradient:hover {
  background: rgb(238, 238, 238);
  color: #11101d;
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #0062ffb1 100%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #ff00ea87 100%
  );
  filter: blur(123px);
}

.purple__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #a221fa87 100%
  );
  filter: blur(123px);
}

.white__gradient {
  background: linear-gradient(
    180deg,
    rgba(9, 9, 12, 0.143) 0%,
    rgba(31, 31, 38, 0.713) 100%
  );
  filter: blur(123px);
}

.button-stroke {
  border-radius: 32px;
  border-color: rgb(33, 33, 33);
}

.button-stroke:hover {
  box-shadow: 2px 0px 20px 0px rgba(255, 255, 255, 0.3);
}
