@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-purple-gradient {
  background: radial-gradient(
    100% 150% at 0% 0%,
    rgba(14, 6, 19, 1) 0%,
    rgba(33, 10, 54, 1) 44%,
    rgba(58, 8, 71, 1) 63%,
    rgba(37, 10, 53, 1) 81%,
    rgba(16, 12, 35, 1) 100%
  );
}

.button-gradient {
  background: linear-gradient(
    90deg,
    rgba(86, 86, 99, 0.155),
    rgba(63, 63, 82, 0.31)
  );
  transition: background 0.3s ease-in-out;
}

.button-gradient:hover {
  background: rgb(238, 238, 238);
  color: #11101d;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #0062ffb1 100%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #ff00ea87 100%
  );
  filter: blur(123px);
}

.purple__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #a221fa87 100%
  );
  filter: blur(123px);
}

.white__gradient {
  background: linear-gradient(
    180deg,
    rgba(9, 9, 12, 0.143) 0%,
    rgba(31, 31, 38, 0.713) 100%
  );
  filter: blur(123px);
}

.button-stroke {
  border-radius: 32px;
  border-color: rgb(33, 33, 33);
}

.button-stroke:hover {
  box-shadow: 2px 0px 20px 0px rgba(255, 255, 255, 0.3);
}
